{% load django_bootstrap5 %} {% load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% if title %}
    <title>Marigagram - {{title}}</title>
    {% else %}
    <title> Marigagram </title>
    {% endif %} {% block styles %} {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/staticname.css' %}">
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}"> {% endblock %}


</head>

<body>
    {% include "navbar.html"%} {% block content%}{% block scripts %} {% bootstrap_javascript %}
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
    {% endblock %}{% endblock %}


</body>

</html>