{% extends 'awards/base.html'%}{% load static %} {% block content %} {{block.super}}
<div class="container">

    {% for project in projects%}
    <!-- <div class="row"> -->
    <div class=" cont row row-cols-xs-1 row-cols-sm-2  row-cols-lg-3 ">
        <div class="col">
            <div class=" hover hover-2 text-white rounded "><img src="{{project.image.url}} " alt=" ">
                <div class="hover-overlay "></div>
                <div class="hover-2-content px-5 py-4 ">
                    <h3 class="hover-2-title text-uppercase font-weight-bold mb-0 "> <span class="font-weight-light ">{{project.title}}</h3>
                    <p class="hover-2-description mb-0 ">{{project.description}}</p>
                    <p class="hover-2-user mb-0 muted ">{{project.user}}</p>
                </div>
            </div>
        </div>
  </div>
{% endfor%}
</div>
<!-- Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere neque sed at libero architecto ducimus beatae eaque dolorum modi impedit. -->



<style>

.cont {
    margin: 30px;
}
  .hover {
  overflow: hidden;
  position: relative;
  padding-bottom: 60%;
}

.hover-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  transition: all 0.4s;
}

.hover img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
}

.hover-content {
  position: relative;
  z-index: 99;
}

.hover-2 .hover-overlay {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1));
}

.hover-2-title {
  position: absolute;
  top: 50%;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 99;
  transition: all 0.3s;
}

.hover-2-description {
  width: 100%;
  position: absolute;
  bottom: 0;
  opacity: 0;
  left: 0;
  text-align: center;
  z-index: 99;
  transition: all 0.3s;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3em;

}
.hover-2-user {
  width: 100%;
  position: absolute;
  bottom: 0;
  opacity: 0;
  left: 0;
  text-align: center;
  z-index: 99;
  transition: all 0.3s;
}

.hover-2:hover .hover-2-title {
  transform: translateY(-1rem);
}

.hover-2:hover .hover-2-description {
  bottom: 5rem;
  opacity: 1;
}

.hover-2:hover .hover-2-user {
  bottom: 0.2rem;
  opacity: 1;
}

.hover-2:hover .hover-overlay {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1));
}



</style>
{% endblock %}