{% extends 'awards/base.html'%}{% block content %} {{block.super}}
<h2>Other page</h2>
<h2>{{project.title}}</h2>
<p>{{project.description}}</p>
<p>{{project.user}}</p>
<p>{{project.id}}</p>
<img src="{{project.image.url}}" alt="" style="height: 200px; width:auto;"> {% endblock %}

<form class="review-form" action="/review" method="GET">
    {% for proj in project%}
    <input type="hidden" name="proj_id" id="proj_id" value="{{proj.id}}" />\ {% endfor%}

    <div class="form-group">
        <textarea name="comment" id="" cols="30" rows="10" class="input"></textarea>
    </div>
</form>